@font-face {
    font-family: Marksman;
    src: url(Fonts/Marksman.otf);
}
body{
    font-family: Marksman;
    font-size: 30px;
    color: #98222C;
    background-color: #000208;
}
input[type=checkbox]{
    width: 30px;
    height: 30px;
}
input[type=number]{
    font-family: Marksman;
    outline: none;
    color: #98222C;
    background-color: #000208;
    border: solid #98222C;
    margin-bottom: 5px;
    width: 50px;
}
button{
    font-family: Marksman;
    background-color: #000208;
    color: #98222C;
    border: solid #98222C;
    margin-top: 5px;
    width: 200px;
    height: 100px;
}
b{
    font-size: 40px;
}
img{
    filter: invert(16%) sepia(87%) saturate(2435%) hue-rotate(339deg) brightness(84%) contrast(91%);
}
