  /* Font */
  @font-face {
    font-family: Marksman;
    src: url(Fonts/Marksman.otf);
  }

  /* General Colors and Font */
  body{
    font-family: Marksman;
    background-color: #000208;
    color: #A32632;
  }

  /* Table */
  table, td, th{
    border: solid #A32632;
  }
  table{
    margin-left: auto;
    margin-right: auto;
  }
  td{
    width: 100px;
  }
  tr.radio > td, td.radio{
    font-size: 20px;
    height: 40px;
    text-align: left;
  }
  tr.name > td, td.name{
    font-size: 20px;
    height: 20px;
    text-align: center;
  }
  tr.icon > td, td.icon{
    height: 100px;
  }
  tr.icon > td > img, td.icon > img{
    filter: invert(16%) sepia(78%) saturate(2313%) hue-rotate(335deg) brightness(102%) contrast(92%);
  }
  tr.name > .mediumText{
    font-size: 35px;
  }
  #pointValue{
    font-size: 20px;
    color: #F8FFD1;
  }

  /* Text Sizes */
  .mediumText{
    font-size: 35px;
  }
  .bigText{
    font-size: 50px;
    text-align: center;
  }
  /*.mod0{
    color: blue;
    border-color: blue;
  }
  tr.icon > td.mod0 > img{
    filter: invert(100%);
  }*/